

header{
    background-color: #f3cac1;
    color: 	#585858;
    font-size: 50px;
    padding: 30px;
    text-align: left;
}

img{
    height: 200px;
    margin: 30px;
}

h2{
    background-color: grey;
    color: #f3cac1;
    font-size: 20px;
    margin: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


p{
    margin: 5px;
    padding-left: 30px;

}

ul{
    list-style-type:disc;
    margin: 10px;
    padding-left: 60px;
}

ol{
    margin: 10px;
    padding-left: 60px;
    list-style-type: decimal;
}

li{
    margin: 5px;
}

main{
    margin: 10px auto;
    padding: 16px;
    max-width: 960px;
    color: #202020;

}

main a{
  color: #202020;
}


footer{
  background-color: #f3cac1;
  color: 	#585858;
  font-size: 16px;
  padding: 30px;
  text-align: left;
}

footer a{
  color: 	#585858;
}
